
<%= form_for @rating do |f| %>

	<% if(Rating.where(:user_id => current_user, :recipe_id => @recipe.id).length > 0) %>
		<h4><%= "Vaša ocjena: " %> <%= Rating.where(:user_id => current_user, :recipe_id => @recipe.id).first.rating.to_s %></h4><br></br>
	<% end %>

	<%= f.select :rating, [['5'],['4'],['3'],['2'],['1']], {}, {class: 'form-control rating-input'} %>


	<div class="field">
	    <%= f.hidden_field :recipe_id, :value => @recipe.id %>
	</div>

	<div class="actions">
	    <%= f.submit "Dodaj ocjenu" , class: "btn btn-secondary" %>
	</div>

<% end%>
