<div class = "alert">
	<a onclick="goBack()" class = "close close-login" data-dismiss="alert">&#215;</a>

	<script>
		function goBack() {
			window.history.back();
		}
	</script>

	<div class="panel panel-default show-panel">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-offset-1 col-md-10">
					<%= image_tag @recipe.image.url(:medium) %>
					<div class="table-responsive">
						<table class="table">
							<body>
							<tr>
								<td><strong>Naslov:</strong></td>
								<td><h3><%= @recipe.title %></h3></td>
							</tr>
							<tr>
								<td><strong>Izradio:</strong></td>
								<td><strong><%= @recipe.user.email %> </strong></td>
							</tr>
							<tr>
								<td><strong>Datuma:</strong></td>
								<td><%= @recipe.created_at.strftime(" %d.%m.%Y")%> <%= @recipe.created_at.strftime("u %I:%M%p")%> </td>
							</tr>
							<tr>
								<td><strong>Opis:</strong></td>
								<td><pre class = "pre-recipe"><%= @recipe.description %></pre></td>
							</tr>
							<tr>
								<td><strong>Sastojci:</strong></td>
								<td>
									<table class="table table-striped">
										<tr>
											<td><strong>Mjera sastojka</strong></td>
											<td><strong>Naziv sastojka</strong></td>
										</tr>
										<% @recipe.measurements.each do |m|%>
										<tr>
											<td><%=m[:measure]%></td>
											<td><%= link_to m.ingredient[:name], ingredient_path(m.ingredient), class: "ingredient-link"%></td>
										</tr>
										<% end %>


									</table>


									</ul>



								</td>
							</tr>
							</body>
						</table>
						<% if current_user.present? && current_user.id == @recipe.user_id %>
								<div align = "center">
									<%= link_to 'Uredi', edit_recipe_path(@recipe), class: "btn btn-lg btn-primary" %>
									<%= link_to 'Izbriši', recipe_path(@recipe), method: :delete, class: "btn btn-lg btn-danger", data: { confirm: "Jeste li sigurni da želite obrisati recept?"}%>
								</div>
						<% end %>


					</div>
				</div>
			</div>
		</div>
	</div>

</div>


