<div class = "alert">
	<a onclick="goBack()" class = "close close-login" data-dismiss="alert">&#215;</a>

	<script>
      function goBack() {
          window.history.back();
      }
	</script>

	<div class="panel panel-default show-panel">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-offset-1 col-md-10">
					<div align="center">
						<%= image_tag @recipe.image.url(), class: "img-circle" ,height: '500', width: '500' %>
					</div>
					<div class="table-responsive">
						<table class="table">
							<body>
							<tr>
								<td><strong>Naslov:</strong></td>
								<td><h3><%= @recipe.title %></h3></td>
							</tr>
							<tr>
								<td><strong>Izradio:</strong></td>
								<td><strong><%= @recipe.user.email %> </strong></td>
							</tr>
							<tr>
								<td><strong>Datuma:</strong></td>
								<td><%= @recipe.created_at.strftime(" %d.%m.%Y")%> <%= @recipe.created_at.strftime("u %I:%M%p")%> </td>
							</tr>
							<tr>
								<td><strong>Opis:</strong></td>
								<td><pre class = "pre-recipe"><%= @recipe.description %></pre></td>
							</tr>
							<tr>
								<td><strong>Sastojci:</strong></td>
								<td>
									<table class="table table-striped">
										<tr>
											<td><strong>Mjera sastojka</strong></td>
											<td><strong>Naziv sastojka</strong></td>
										</tr>
										<% @recipe.measurements.each do |m|%>
												<tr>
													<td><%=m[:measure]%></td>
													<td><%= link_to m.ingredient[:name], ingredient_path(m.ingredient), class: "ingredient-link"%></td>
												</tr>
										<% end %>
									</table>

								</td>
							</tr>
							<tr>
								<td><strong>Oznake:</strong></td>
									<td>
										<% @recipe.recipe_tags.each do |t| %>
											<%= link_to '#' + Tag.find(t[:tag_id]).title.strip, tag_path(t.tag.id), class: "btn btn-info" %>
										<% end %>
									</td>
							</tr>
							</body>
						</table>
						<% if current_user.present? && current_user.id == @recipe.user_id || current_user.email == "lovro.kordis@fer.hr" %>
								<div align = "center">
									<%= link_to 'Uredi', edit_recipe_path(@recipe), class: "btn btn-lg btn-primary" %>
									<%= link_to 'Izbriši', recipe_path(@recipe), method: :delete, class: "btn btn-lg btn-danger", data: { confirm: "Jeste li sigurni da želite obrisati recept?"}%>
								</div>
						<% end %>


					</div>
				</div>
			</div><br>
			<div class="form-group" align="center">
				<% if (Rating.where(:recipe_id => @recipe.id).length != 0) %>
	          <div class="">
	          	<h3><%= "Prosječna ocjena: " %><%= @recipe.average_rating %></h3><br></br>
	          </div>
	      <% end %>

	      <% if current_user.present? %>
	          <% if (Rating.where(:recipe_id => @recipe.id).length == 0) %>
								<div class="">
									<h2><%= "Dodajte prvu ocjenu" %></h2><br></br>
								</div>
	          <% end %>
	          <%= render 'rating_input' %>
	      <% end %>
			</div>

			<h3> Komentari: </h3>
			<div class="form-group" align="left">
				<ul class="reviews-list">
					<% @comments.each do |c|%>
		          <%if (c.recipe_id == @recipe.id )%>
								<li class="reviews-list-item">
									<blockquote class="blockquote">
										<p class="mb-0">
											<%= c.user_email.to_s %><%= ": "%>
											<%= c.comment.to_s %>
										</p>
									</blockquote>
								</li>
		          <% end %>
		      <% end %>
				</ul>
			</div>
			<div class="form-group" align="left">
	      <% if current_user.present? %>
	          <%= form_for @comment do |f| %>
	              <div class="field">
	                <%= f.label :Komentar , id: "hidden-area" %><br>
	                <%= f.text_area :comment ,class: "comment-input" %>
	                <%= f.hidden_field :recipe_id, :value => @recipe.id %>
	              </div>

	              <div class="">
	                <%= f.submit "Dodaj komentar" ,class: " btn" %>
	              </div>
	          <% end %>
	      <% end %>
			</div>
    </div>
	</div>
</div>
