<div class="container pocetna-carousel">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <%= image_tag "eat-clean.jpg", style:"height: 520px; width: 100%; filter:grayscale(95%)" %>
        <div class="carousel-caption pocetna-okvir-za-tekst">
          <p class="pocetna-naslov">Dobrodošli</p>
          <div><%= link_to "Registrirajte se", new_user_registration_path, :class => "pocetna-links" %></div>
        </div>
      </div><!-- End Item -->

      <div class="item">
        <%= image_tag "eat-clean.jpg", style:"height: 520px; width: 100%" %>
        <div class="carousel-caption pocetna-okvir-za-tekst">
          <p class="pocetna-naslov">Razni recepti</p>
          <div><%=link_to"Izradi novi recept", new_recipe_path , :class => "pocetna-links" %></div>
        </div>
      </div><!-- End Item -->

      <div class="item">
        <%= image_tag "eat-clean.jpg", style:"height: 520px; width: 100%" %>
        <div class="carousel-caption pocetna-okvir-za-tekst">
          <p class="pocetna-naslov">O nama</p>
          <p class="pocetna-tekst">Ova stranica sadrži razne recepte koje mogu služiti vama i vašem putu da postanete kuhar širokog spektra.</p>
        </div>
      </div><!-- End Item -->

    </div><!-- End Carousel Inner -->


    <ul class="nav nav-pills nav-justified">
      <li data-target="#myCarousel" data-slide-to="0" class="active pocetna-tekst"><a href="#">Dobrodošli</a></li>
      <li data-target="#myCarousel" data-slide-to="1" class="pocetna-tekst"><a href="#">Izradite recept</a></li>
      <li data-target="#myCarousel" data-slide-to="2" class="pocetna-tekst"><a href="#">O nama</a></li>
    </ul>


  </div><!-- End Carousel -->
</div>